
body {
  font-family: 'Poppins', sans-serif;
  background: #161616 0% 0% no-repeat padding-box;
}

.font-ancient-god {
}

.v-application--wrap {
  min-height: 60vh !important;
  margin-top: 30px;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-medium {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-outline {
  text-shadow:
          -4px -4px 0 black,
          4px -4px 0 black,
          -4px  4px 0 black,
          4px  4px 0 black;
}
